.header {
  position: fixed;
  width: 100%;
  background-color: coral;
  height: 50px;
  border: 1px solid red;
  display: flex;
  justify-content: center;
  top: 0;
  z-index: 10;
  align-items: center;
  &__logo {
    color: white;
    position: absolute;
    left: 10%;
    &:hover {
      cursor: pointer;
      color: wheat;
    }
  }
  &__nav {
    display: flex;
    margin-right: 0;
    &-item {
      color: white;
      margin-right: 3rem;
      &:hover {
        cursor: pointer;
        color: wheat;
      }
    }
  }
  a {
    color: white;
    &:hover {
      cursor: pointer;
      color: wheat;
    }
  }
}
