.footer {
  padding-top: 2rem;
}
.footer__bg {
  background-color: coral;
  padding: 3rem 0 3rem;
}

.footer__title {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  margin-left: 15%;
}

.footer__subtitle {
  font-size: 1rem;
  margin-left: 15%;
  margin-bottom: 0.5rem;
}

.footer__copy {
  font-size: 1rem;
  text-align: center;
  margin-top: 3rem;
}

.footer__title,
.footer__subtitle {
  color: white;
}
.footer__icon {
  margin-left: 15%;
  margin-top: 10px;
}
