.home {
  i.icon {
    margin: 15px 0 0 17px;
  }
  .float {
    position: fixed;
    width: 50px;
    height: 50px;
    bottom: 40px;
    right: 40px;
    background-color: #2e8b57;
    color: #fff;
    border-radius: 50px;
    box-shadow: 2px 2px 3px #999;
  }
  .ui.table thead th {
    text-align: center;
  }
  .ui.table td {
    text-align: center;
  }
  &__container {
    // border: 1px solid red;
  }
  &__data {
    text-align: center;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
  }
}
.section__title {
  font-size: 3rem;
  margin-top: 150px;
  text-align: center;
}
.ui.grid {
  justify-content: center;
  padding-top: 50px;
  padding-bottom: 50px;
}
