.home {
  .ui.table thead th {
    text-align: center;
  }
  .ui.table td {
    text-align: center;
  }
  &__container {
    // border: 1px solid red;
  }
  &__data {
    padding: 0px 200px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
  }
}
.section__title {
  font-size: 3rem;
  margin-top: 150px;
}
.ui.grid {
  justify-content: center;
  padding-top: 50px;
  padding-bottom: 50px;
}
